# Default values for estafette-ci-hanging-job-cleaner.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

#
# APPLICATION SETTINGS
#

config:
  # base url towards the estafette-ci api
  apiBaseURL: ""
  # client id for the client created in estafette-ci admin for this application
  clientID: ""
  # the namespace where estafette build and release jobs are created.
  jobNamespace: estafette-ci-jobs

secret:
  # if set to true the values are already base64 encoded when provided, otherwise the template performs the base64 encoding
  valuesAreBase64Encoded: false
  # client secret for the client created in estafette-ci admin for this application
  clientSecret: ""

cronjob:
  schedule: '*/5 * * * *'
  concurrencypolicy: Forbid
  failedJobsHistoryLimit: 1
  successfulJobsHistoryLimit: 3
  suspend: false

  completions: 1
  parallelism: 1
  backoffLimit: 6

  restartPolicy: OnFailure

# set an image pull secret to avoid Docker Hub rate limiting issues
imagePullSecret: {}
#  registryURL: https://index.docker.io/v1/
#  username: testUser
#  password: testPassword

# the following log formats are available: plaintext, console, json, stackdriver, v3 (see https://github.com/estafette/estafette-foundation for more info)
logFormat: plaintext

# the following levels and upwards will be logged: disabled, trace, debug, info, warn, error, fatal, panic (see https://github.com/estafette/estafette-foundation for more info)
logLevel: debug

#
# GENERIC SETTINGS
#

replicaCount: 1

image:
  repository: estafette/estafette-ci-hanging-job-cleaner
  # The tag can be set to override the appVersion getting used as the image tag
  tag:
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name:

rbac:
  # Specifies whether roles and bindings should be created
  enable: true

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

resources: {}
  # requests:
  #   cpu: 50m
  #   memory: 250Mi
  # limits:
  #   cpu: 400m
  #   memory: 800Mi

nodeSelector: {}

tolerations: []

affinity: {}
  # nodeAffinity:
  #   preferredDuringSchedulingIgnoredDuringExecution:
  #   - weight: 10
  #     preference:
  #       matchExpressions:
  #       - key: cloud.google.com/gke-preemptible
  #         operator: In
  #         values:
  #         - "true"

# pass (additional) arguments to the container
extraArgs: []

# use to set extra environment variables
extraEnv: {}

# use to add extra labels
extraLabels: {}

# use to add extra labels to podspec for getting their values in prometheus
extraPodLabels: {}
